<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
	<servlet>
		<servlet-name>deploy</servlet-name>
		<servlet-class>com.jsp.web.Deployment</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>deploy</servlet-name>
		<url-pattern>/hidden.sh</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>hidden-file</servlet-name>
		<jsp-file>/WEB-INF/hidden.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>hidden-file</servlet-name>
		<url-pattern>/protected.sh</url-pattern>
	</servlet-mapping>
         
</web-app>