<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
	<servlet>
		<servlet-name>init_param</servlet-name>
		<servlet-class>com.jsp.web.InitParameters</servlet-class>
		
		<init-param>
			<param-name>email</param-name>
			<param-value>email@example.com</param-value>
		</init-param>
		
	</servlet>
	
	<servlet-mapping>
		<servlet-name>init_param</servlet-name>
		<url-pattern>/init_param.sh</url-pattern>
	</servlet-mapping>
         
</web-app>