<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
	<servlet>
		<servlet-name>servlet_context</servlet-name>
		<servlet-class>com.jsp.web.ServletContextExample</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>servlet_context</servlet-name>
		<url-pattern>/context.sh</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>param</param-name>
		<param-value>example@servletContext.com</param-value>
	</context-param>
         
</web-app>